<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :apellido %>
    <%= form.text_field :apellido %>
  </div>

  <div class="field">
    <%= form.label :ciudad %>
    <%= collection_select(:usuario, :cities_id, City.all.order(:nombre), :id, :nombre)%>
  </div>

  <div class="field">
    <%= form.label :elementos_curso %>
    <div class="row">
      <% @cursos.each do |curso| %>
        <label class="col-6 col-sm-5">
          <%= form.check_box :elementos_curso, {multiple: true}, curso.id, nil %>
          <%= curso.titulo %>
        </label>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
